body {
       background-color:white;
       padding: 10px;
     }
    
    h1 {
    text-transform: uppercase;
    }
    li {
    color: rgb(241, 240, 240);
    font-style: italic;
    }
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #068ce6;
      }
      
      nav ul li {
        display: inline-block;
      }
      
      nav ul li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: #fff3f3;
      }
      
      nav ul li a:hover {
        background-color: #ddd;
      }

      .contenedor{
        position: relative;
        display: inline-block;
        text-align: center;
    }
    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    button:active {
      color: rgb(5, 5, 5);
      font-weight: bold;
      }